<h1 class="game-title" id="main-title">タイトル</h1>
<div class="button">
  <%= link_to "スタート", new_game_path, method: :get, id: "start-button", class: "btn btn-primary" %>
  <%= link_to "ランキング", "#", method: :get, id: "ranking-button", class: "btn btn-primary" %>